<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

       <mvc:annotation-driven>
              <mvc:message-converters>
                     <bean class="org.springframework.http.converter.StringHttpMessageConverter">
                            <property name="supportedMediaTypes">
                                   <list>
                                          <value>text/plain;chatser=UTF-8</value>
                                          <value>text/html;chatser=UTF-8</value>
                                   </list>
                            </property>
                     </bean>
                     <bean class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter">
                            <property name="supportedMediaTypes">
                                   <list>
                                          <value>application/json;charset=UTF-8</value>
                                          <value>application/x-www-form-urlencoded;charset=UTF-8</value>
                                   </list>
                            </property>
                     </bean>
              </mvc:message-converters>
       </mvc:annotation-driven>

       <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver" >
              <property name="defaultEncoding" value="UTF-8"/>
              <property name="maxUploadSize" value="10048576"/>
              <property name="maxInMemorySize" value="1024"/>
       </bean>

       <!-- 自动扫描 -->
       <context:component-scan base-package="tenement"/>
       <!-- 自动扫描 -->

       <!-- 全局异常配置 start -->
       <bean id="exceptionResolver" class="org.springframework.web.servlet.handler.SimpleMappingExceptionResolver">
              <property name="exceptionMappings">
                     <props>
                            <prop key="java.lang.Throwable">/error/500</prop>
                     </props>
              </property>
              <property name="statusCodes">
                     <props>
                            <prop key="500">500</prop>
                            <prop key="404">404</prop>
                            <prop key="403">403</prop>
                     </props>
              </property>
              <!-- 默认错误页面，当找不到上面mappings中指定的异常对应视图时，使用本默认配置 -->
              <property name="defaultErrorView" value="/error/500"/>
              <!-- 默认HTTP状态码 ，返回错误默认设置的状态码-->
              <property name="defaultStatusCode" value="200"/>
       </bean>
       <!-- 全局异常配置 end -->

</beans>